plugins {
    id 'nf-provone'
}

provone {
    file = "${params.outdir}/provone_provenance.jsonld"
    overwrite = true
    agent {
        title="M.Sc."
        givenName="Felix"
        familyName="Bartusch"
        mbox="felix.bartusch[at]uni-tuebingen.de"
        orcid = "0000-0003-0711-5196"
    }
    fuseki {
        url="https://127.0.0.1:443/ds/data"
        user="user1"
        password="pw"
    }
}